@page
@model IndexModel
@{
    var movies = new Dictionary<string, string>
    {
        {"Фільм 1", "/Movies/Movie1"},
        {"Фільм 2", "/Movies/Movie2"},
        {"Фільм 3", "/Movies/movie3"},
        {"Фільм 4", "/Movies/movie4"},
        {"Фільм 5", "/Movies/movie5"},
        {"Фільм 6", "/Movies/movie6"},
        {"Фільм 7", "/Movies/movie7"},
        {"Фільм 8", "/Movies/movie8"},
        {"Фільм 9", "/Movies/movie9"},
        {"Фільм 10", "/Movies/movie10"},
        {"Фільм 11", "/Movies/movie11"},
        {"Фільм 12", "/Movies/movie12"},
        {"Фільм 13", "/Movies/movie13"},
        {"Фільм 14", "/Movies/movie14"},
        {"Фільм 15", "/Movies/movie15"},
        {"Фільм 16", "/Movies/movie16"},
        {"Фільм 17", "/Movies/movie17"},
        {"Фільм 18", "/Movies/movie18"},
        {"Фільм 19", "/Movies/movie19"},
        {"Фільм 20", "/Movies/movie20"},
        {"Фільм 21", "/Movies/movie20"}
    };

    var placeholderImageUrl = "https://i.ibb.co/VtQ5gPw/Picsart-23-05-18-10-52-42-318.png";
}

<!DOCTYPE html>
<html>
<head>
    <title>Сторінка з віджетами фільмів</title>
    <style>
        .movie-widget {
            display: inline-block;
            width: 150px;
            text-align: center;
            margin: 10px;
            cursor: pointer;
        }

            .movie-widget img {
                width: 150px;
                height: 225px;
            }

        .movie-title {
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    @foreach (var movie in movies)
    {
        <a href="@movie.Value" target="_self">
            <div class="movie-widget">
                <img src="@placeholderImageUrl" alt="Зображення фільму">
                <div class="movie-title">@movie.Key</div>
            </div>
        </a>
    }
</body>
</html>
